/*
	Colour Palette
	- Heading brown: #924720 - rgb(146, 71, 32)
	- Mark brown: #e3a28a - rgb(227, 162, 138)
	- Link red: #9f221b - rgb(159,34,27)
	- Link desaturated red: #a9381d - rgb(169,56,29)
	- Link brighter red: #ca221b - rgb(180,40,133)
	- Background brown: #c7c0ae - rgb(199, 192, 174)
	- Lighter brown: #eae8e1 - rgb(234, 232, 225)
	- Beige: #f2f1ed - rgb(242, 241, 237)
 */

html {
	background-color: #c7c0ae;

	color: #333;
	font: normal 100%/1.5 Georgia,serif;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, dd, figure,
blockquote, details, hr,
fieldset, pre, table {
	margin: 0 0 1.5rem;
}

.yotta {
	font-size: 2.2807rem;
	line-height: 1.3154;
}

.zetta {
	font-size: 2.0273rem;
	line-height: 1.4798;
}

h1, .exa {
	font-size: 1.8020rem;
	line-height: 1.6648;
}

h2, .peta {
	font-size: 1.6018rem;
	line-height: 1.8729;
}

h3, .tera {
	font-size: 1.4238rem;
	line-height: 1.0535;
}

h4, .giga {
	font-size: 1.2656rem;
	line-height: 1.1852;
}

h5, .mega {
	font-size: 1.1250rem;
	line-height: 1.3333;
}

h6, .kilo {
	font-size: 1.0000rem;
	line-height: 1.5000;
}

small, .milli {
	font-size: 0.8889rem;
	line-height: 1.6875;
}

.micro {
	font-size: 0.7901rem;
	line-height: 1.8984;
}

h1, h2, h3, h4, h5, h6,
.brand {
	color: #924720;
	font-family: "Patua One",serif;
}

.brand-family {
	font-family: "Patua One",serif;
}

.brand-color {
	color: #924720;
}

a,
a:link {
	border-bottom: 0.1em solid rgba(159,34,27,0.5);
	transition: all 150ms linear;

	color: #9f221b;
	text-decoration: none;
}

a:visited {
	color: #a9381d;
	border-bottom-color: rgba(169,56,29,0.5);
}

a:hover,
a:focus,
a:active {
	color: #ca221b;
	border-bottom-color: #ca221b;
}

.push {
	margin-bottom: 1.5rem;
}

.push-none, .push-0 {
	margin-bottom: 0;
}

.push-double, .push-2 {
	margin-bottom: 3.0000rem;
}

.push-half, .push-1-2 {
	margin-bottom: 0.7500rem;
}

.pad-top, .pad-t {
	padding-top: 1.5rem;
}

.pad-bottom, .pad-b {
	padding-bottom: 1.5rem;
}

.pad-top-double, .pad-t-2 {
	padding-top: 3.0000rem;
}

.pad-bottom-double, .pad-b-2 {
	padding-bottom: 3.0000rem;
}

.pad-top-half, .pad-t-1-2 {
	padding-top: 0.7500rem;
}

.pad-bottom-half, .pad-b-1-2 {
	padding-bottom: 0.7500rem;
}

.island {
	padding: 1.5rem;
}

.island-half, .island-1-2 {
	padding: 0.75rem;
}

.island-double, .island-2 {
	padding: 3rem;
}

.gutter {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.gutter-half, .gutter-1-2 {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}

.gutter-double, .gutter-2 {
	padding-left: 3rem;
	padding-right: 3rem;
}
